<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/stylesheets/cards.css" rel="stylesheet" />
	<script type = "text/javascript" src = "/javascripts/underscore-min.js"></script>
	<script type = "text/javascript" src = "/javascripts/jquery-3.5.1.min.js"></script>
	<script type = "text/javascript" src = "/javascripts/backbone-min.js"></script>
	<title>Liste des parties</title>
</head>
<body>
	
	<br><br><br><br><br>
	<div class="center">
		<form id="new-card-part">
			<label>Nom de la partie :</label><input type="text" id="name" name="name"/><br />
			<label>Joueurs (séparés par ,) :</label><input type="text" id="players" name="players"/><br />
			<label>Date de création :</label><input type="text" id="creation_date" name="creation_date"/><br />
			<button>+ Créer une partie +</button>
		</form>
	</div>
	<hr/>

	<div id="card-parties-container"></div>
	<div id="card-party-details"></div>

	<script type="text/template" id="card-party-template">
		<span class="name">{{ name }}</span>
		<span class="players">{{ players}}</span>
		<span class="creation_data">{{ creation_date}}</span>
		<a href="#" class="save_update">[Save]</a>
		<a href="/card_party/{{ _id }}" class="details">[details]</a>
		<a href="#" class="edit-card-party">[edit]</a>
		<a href="#" class="delete">[delete]</a>
	</script>

	<script type="text/template" id="card-party-details-template">
		<span class="name">{{ name }}</span>
		<span class="players">
			<ul>
				<li>
				{{ players.split(',').forEach(player => { console.log(player); return player }) }}
				{{ players }}
				</li>
			</ul>
		</span>
		<span class="creation_data">{{ creation_date }}</span>
		
		<a href="#" class="back">[back]</a>
	</script>

	<br><br><br><br><br>

	<hr/>
	<div class="center">
		<form id="new-tweet">
			<label>Author :</label><input id="author-name" name="author-name" type="text"/><br />
			<label>Status :</label><input id="status-update" name="status-update" type="text"/>
			<button>Post</button>
		</form>
	</div>
	<hr/>

	<div id="tweets-container"></div>
	<div id="tweet-details"></div>

	<script type="text/template" id="tweet-template">
		<span class="author">{{ author }}:</span>: 
		<span class="status">{{ status }}</span>
		<a href="/tweets/{{ _id }}" class="details">[details]</a>
		<a href="#" class="edit">[edit]</a>
		<a href="#" class="delete">[delete]</a>
	</script>

	<script type="text/template" id="tweet-details-template">
		<h2 class="status">{{ status }}</h2>
		<h4 class="author">{{ author }}:</h4> 
		
		<a href="#" class="back">[back]</a>
	</script>

	<script type = "text/javascript" src = "/javascripts/main.js"></script>
</body>
</html>